
body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1313bc;
    ;
    
}

.image{
    display: flex;
    background-image: url("126bebcd66b6c5c2dacefd5b1f63a160e2b9bde0105325bb76e2847112a44713._SX1080_FMjpg_.jpg");
    max-width: 1080px;
    max-height: 608px;
    margin-left: 12rem;
    margin-top: 8rem;

}

.container {
    max-width: 600px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#quiz-container {
    margin-bottom: 20px;
}

#options {
    margin-top: 10px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
}

#high-score-container {
    text-align: center;
}

#high-score {
    font-weight: bold;
}

.option {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #4CAF50;
    animation: highlight 1s;
}

@keyframes highlight {
    0% { background-color: #4CAF50; }
    50% { background-color: #8BC34A; }
    100% { background-color: #4CAF50; }
}
